html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;

  --base-top: 40%;
  --base-left: 50%;
  --waddle-dee-scale-pc: scale(0.8);
  --waddle-dee-scale-mbile: scale(0.5);
  --parasol-rotate-duration: 0.5s;
  --jump-duration: 2s;
}
