.handLShadow {
  position: absolute;
  top: 230px;
  left: 135px;
  z-index: 25;
  width: 130px;
  height: 70px;
  background: linear-gradient(to top, #00f, #0000);
  border-radius: 50%/30% 30% 70% 70%;
  opacity: 0.1;
}
