.redParasol {
  position: absolute;
  top: -580px;
  left: -325px;
  z-index: 220;
  width: 500px;
  height: 300px;
  background-color: #e30000;
  border: #000 8px solid;
  border-radius: 50% 50% 0 0/100% 100% 0% 0%;
}

.whiteParasol {
  position: absolute;
  top: -580px;
  left: -175px;
  z-index: 230;
  width: 200px;
  height: 300px;
  background-color: #f0f0f0;
  border: #000 8px solid;
  border-radius: 50% 50% 0 0/100% 100% 0% 0%;
}
