.redParasol {
  position: absolute;
  top: -580px;
  left: -325px;
  z-index: 220;
  width: 500px;
  height: 300px;
  background-color: #e30000;
  border: #000 8px solid;
  border-radius: 50% 50% 0 0/100% 100% 0% 0%;
}

.redParasolAnimation {
  position: absolute;
  top: -580px;
  left: -325px;
  z-index: 220;
  width: 500px;
  height: 300px;
  background-color: #e30000;
  border: #000 8px solid;
  border-radius: 50% 50% 0 0/100% 100% 0% 0%;
  animation-name: red-rotate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes red-rotate {
  0% {
    background-color: #e30000;
  }

  49.99% {
    background-color: #e30000;
  }

  50% {
    background-color: #f0f0f0;
  }

  99.99% {
    background-color: #f0f0f0;
  }

  100% {
    background-color: #e30000;
  }
}

.whiteParasolAnimation,
.whiteParasol {
  position: absolute;
  top: -580px;
  left: -200px;
  z-index: 230;
  width: 250px;
  height: 300px;
  background-color: #f0f0f0;
  border: #000 8px solid;
  border-radius: 50% 50% 0 0/100% 100% 0% 0%;
}

.whiteParasolAnimation {
  animation-name: white-rotate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
@keyframes white-rotate {
  0% {
    background-color: #f0f0f0;
  }

  49.99% {
    background-color: #f0f0f0;
  }

  50% {
    background-color: #e30000;
  }

  99.99% {
    background-color: #e30000;
  }

  100% {
    background-color: #f0f0f0;
  }
}

.redParasol1 {
  position: absolute;
  top: -580px;
  left: -325px;
  z-index: 220;
  width: 250px;
  height: 300px;
  background-color: #e30000;
  border: #000 8px solid;
  border-right: #000 4px solid;
  border-radius: 100% 0 0 0/100% 100% 0% 0%;
  opacity: 0;
}

.redParasol1Animation {
  position: absolute;
  top: -580px;
  left: -325px;
  z-index: 220;
  width: 250px;
  height: 300px;
  background-color: #e30000;
  border: #000 8px solid;
  border-right: #000 4px solid;
  border-radius: 100% 0 0 0/100% 100% 0% 0%;
  animation-name: red-rotate12;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.whiteParasol1 {
  position: absolute;
  top: -580px;
  left: -291.5px;
  z-index: 230;
  width: 216.5px;
  height: 300px;
  background-color: #f0f0f0;
  border: #000 8px solid;
  border-right: #000 4px solid;
  border-radius: 100% 0 0 0/100% 100% 0% 0%;
  opacity: 0;
}

.whiteParasol1Animation {
  position: absolute;
  top: -580px;
  left: -291.5px;
  z-index: 230;
  width: 216.5px;
  height: 300px;
  background-color: #f0f0f0;
  border: #000 8px solid;
  border-right: #000 4px solid;
  border-radius: 100% 0 0 0/100% 100% 0% 0%;
  animation-name: white-rotate12;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.redParasol2 {
  position: absolute;
  top: -580px;
  left: -75px;
  z-index: 230;
  width: 216.5px;
  height: 300px;
  background-color: #e30000;
  border: #000 8px solid;
  border-left: #000 4px solid;
  border-radius: 0 100% 0 0/100% 100% 0% 0%;
  opacity: 0;
}

.redParasol2Animation {
  position: absolute;
  top: -580px;
  left: -75px;
  z-index: 230;
  width: 216.5px;
  height: 300px;
  background-color: #e30000;
  border: #000 8px solid;
  border-left: #000 4px solid;
  border-radius: 0 100% 0 0/100% 100% 0% 0%;
  animation-name: red-rotate12;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.whiteParasol2 {
  position: absolute;
  top: -580px;
  left: -75px;
  z-index: 220;
  width: 250px;
  height: 300px;
  background-color: #f0f0f0;
  border: #000 8px solid;
  border-left: #000 4px solid;
  border-radius: 0 100% 0 0/100% 100% 0% 0%;
  opacity: 0;
}

.whiteParasol2Animation {
  position: absolute;
  top: -580px;
  left: -75px;
  z-index: 220;
  width: 250px;
  height: 300px;
  background-color: #f0f0f0;
  border: #000 8px solid;
  border-left: #000 4px solid;
  border-radius: 0 100% 0 0/100% 100% 0% 0%;
  animation-name: white-rotate12;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes red-rotate12 {
  0% {
    background-color: #0000;
    border-color: #0000;
  }

  24.99% {
    background-color: #0000;
    border-color: #0000;
  }

  25% {
    background-color: #e30000;
    border-color: #000;
  }

  49.99% {
    background-color: #e30000;
    border-color: #000;
  }

  50% {
    background-color: #0000;
    border-color: #0000;
  }

  74.99% {
    background-color: #0000;
    border-color: #0000;
  }

  75% {
    background-color: #f0f0f0;
    border-color: #000;
  }

  99.99% {
    background-color: #f0f0f0;
    border-color: #000;
  }

  100% {
    background-color: #0000;
    border-color: #0000;
  }
}

@keyframes white-rotate12 {
  0% {
    background-color: #0000;
    border-color: #0000;
  }

  24.99% {
    background-color: #0000;
    border-color: #0000;
  }

  25% {
    background-color: #f0f0f0;
    border-color: #000;
  }

  49.99% {
    background-color: #f0f0f0;
    border-color: #000;
  }

  50% {
    background-color: #0000;
    border-color: #0000;
  }

  74.99% {
    background-color: #0000;
    border-color: #0000;
  }

  75% {
    background-color: #e30000;
    border-color: #000;
  }

  99.99% {
    background-color: #e30000;
    border-color: #000;
  }

  100% {
    background-color: #0000;
    border-color: #0000;
  }
}
