.starBase {
  position: absolute;
  top: -663px;
  left: -138px;
  z-index: 240;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 126px;
  height: 126px;
}

.starBorder {
  z-index: 240;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 126px;
  height: 126px;
  clip-path: polygon(
    50% 0,
    64.695% 29.775%,
    97.555% 34.55%,
    73.775% 57.725%,
    79.39% 90.45%,
    50% 75%,
    20.61% 90.45%,
    26.255% 57.725%,
    2.445% 34.55%,
    35.305% 29.775%
  );
  background-color: #000;
}

.starBorderAnimation {
  z-index: 240;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 126px;
  height: 126px;
  clip-path: polygon(
    50% 0,
    64.695% 29.775%,
    97.555% 34.55%,
    73.775% 57.725%,
    79.39% 90.45%,
    50% 75%,
    20.61% 90.45%,
    26.255% 57.725%,
    2.445% 34.55%,
    35.305% 29.775%
  );
  background-color: #000;
  animation-name: star-border-rotate;
  animation-duration: calc(1.5 * var(--parasol-rotate-duration));
  animation-iteration-count: infinite;
}

@keyframes star-border-rotate {
  16.66% {
    width: 126px;
    clip-path: polygon(
      50% 0,
      64.695% 29.775%,
      97.555% 34.55%,
      73.775% 57.725%,
      79.39% 90.45%,
      50% 75%,
      20.61% 90.45%,
      26.255% 57.725%,
      2.445% 34.55%,
      35.305% 29.775%
    );
  }

  16.67% {
    width: 109px;
    clip-path: polygon(
      50% 0,
      64.695% 29.775%,
      97.555% 34.55%,
      73.775% 57.725%,
      79.39% 90.45%,
      50% 75%,
      26.255% 75%,
      26.255% 57.725%,
      2.445% 34.55%,
      35.305% 29.775%
    );
  }

  33.32% {
    width: 109px;
  }

  33.33% {
    width: 63px;
  }

  49.99% {
    width: 63px;
    clip-path: polygon(
      50% 0,
      64.695% 29.775%,
      97.555% 34.55%,
      73.775% 57.725%,
      79.39% 90.45%,
      50% 75%,
      26.255% 75%,
      26.255% 57.725%,
      2.445% 34.55%,
      35.305% 29.775%
    );
  }

  50% {
    width: 30px;
    clip-path: polygon(50% 0, 100% 46%, 50% 100%, 0 46%);
  }

  66.66% {
    width: 30px;
    clip-path: polygon(50% 0, 100% 46%, 50% 100%, 0 46%);
  }

  66.67% {
    width: 63px;
    clip-path: polygon(
      50% 0,
      64.695% 29.775%,
      97.555% 34.55%,
      73.775% 57.725%,
      73.775% 75%,
      50% 75%,
      20.61% 90.45%,
      26.255% 57.725%,
      2.445% 34.55%,
      35.305% 29.775%
    );
  }

  83.32% {
    width: 63px;
  }

  83.33% {
    width: 109px;
  }

  99.99% {
    width: 109px;
    clip-path: polygon(
      50% 0,
      64.695% 29.775%,
      97.555% 34.55%,
      73.775% 57.725%,
      73.775% 75%,
      50% 75%,
      20.61% 90.45%,
      26.255% 57.725%,
      2.445% 34.55%,
      35.305% 29.775%
    );
  }

  100% {
    width: 126px;
    clip-path: polygon(
      50% 0,
      64.695% 29.775%,
      97.555% 34.55%,
      73.775% 57.725%,
      79.39% 90.45%,
      50% 75%,
      20.61% 90.45%,
      26.255% 57.725%,
      2.445% 34.55%,
      35.305% 29.775%
    );
  }
}

.star {
  z-index: 250;
  width: calc(100% - 26px);
  height: calc(100% - 26px);
  clip-path: polygon(
    50% 0,
    64.695% 29.775%,
    97.555% 34.55%,
    73.775% 57.725%,
    79.39% 90.45%,
    50% 75%,
    20.61% 90.45%,
    26.255% 57.725%,
    2.445% 34.55%,
    35.305% 29.775%
  );
  background-color: #fadd1e;
}

.starAnimation {
  z-index: 250;
  width: calc(100% - 26px);
  height: calc(100% - 26px);
  clip-path: polygon(
    50% 0,
    64.695% 29.775%,
    97.555% 34.55%,
    73.775% 57.725%,
    79.39% 90.45%,
    50% 75%,
    20.61% 90.45%,
    26.255% 57.725%,
    2.445% 34.55%,
    35.305% 29.775%
  );
  background-color: #fadd1e;
  animation-name: star-color;
  animation-duration: calc(1.5 * var(--parasol-rotate-duration));
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes star-color {
  0% {
    opacity: 1;
  }

  16.66% {
    clip-path: polygon(
      50% 0,
      64.695% 29.775%,
      97.555% 34.55%,
      73.775% 57.725%,
      79.39% 90.45%,
      50% 75%,
      20.61% 90.45%,
      26.255% 57.725%,
      2.445% 34.55%,
      35.305% 29.775%
    );
    opacity: 1;
  }

  16.67% {
    clip-path: polygon(
      50% 0,
      64.695% 29.775%,
      97.555% 34.55%,
      73.775% 57.725%,
      79.39% 90.45%,
      50% 75%,
      26.255% 75%,
      26.255% 57.725%,
      2.445% 34.55%,
      35.305% 29.775%
    );
  }

  49.99% {
    width: calc(100% - 26px);
    clip-path: polygon(
      50% 0,
      64.695% 29.775%,
      97.555% 34.55%,
      73.775% 57.725%,
      79.39% 90.45%,
      50% 75%,
      26.255% 75%,
      26.255% 57.725%,
      2.445% 34.55%,
      35.305% 29.775%
    );
    opacity: 0.85;
  }

  50% {
    width: calc(100% - 16px);
    clip-path: polygon(50% 0, 100% 46%, 50% 100%, 0 46%);
    opacity: 1;
  }

  66.66% {
    width: calc(100% - 16px);
    clip-path: polygon(50% 0, 100% 46%, 50% 100%, 0 46%);
  }

  66.67% {
    width: calc(100% - 26px);
    clip-path: polygon(
      50% 0,
      64.695% 29.775%,
      97.555% 34.55%,
      73.775% 57.725%,
      73.775% 75%,
      50% 75%,
      20.61% 90.45%,
      26.255% 57.725%,
      2.445% 34.55%,
      35.305% 29.775%
    );
  }

  99.99% {
    clip-path: polygon(
      50% 0,
      64.695% 29.775%,
      97.555% 34.55%,
      73.775% 57.725%,
      73.775% 75%,
      50% 75%,
      20.61% 90.45%,
      26.255% 57.725%,
      2.445% 34.55%,
      35.305% 29.775%
    );
  }

  100% {
    clip-path: polygon(
      50% 0,
      64.695% 29.775%,
      97.555% 34.55%,
      73.775% 57.725%,
      79.39% 90.45%,
      50% 75%,
      20.61% 90.45%,
      26.255% 57.725%,
      2.445% 34.55%,
      35.305% 29.775%
    );
  }
}
