.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.base {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 0;
  width: 0;
  height: 0;
  margin-top: 78px;
  transform: scale(0.7);
}

.legL {
  position: absolute;
  top: 300px;
  left: 5px;
  z-index: 0;
  width: 230px;
  height: 140px;
  background-color: #fabe1e;
  border: #000 8px solid;
  border-radius: 40% 60% 40% 50%/40% 70% 30% 30%;
}

.legR {
  position: absolute;
  top: 300px;
  left: -235px;
  z-index: 1;
  width: 230px;
  height: 140px;
  background-color: #fabe1e;
  border: #000 8px solid;
  border-radius: 60% 40% 50% 40%/70% 40% 30% 30%;
}

.handL {
  position: absolute;
  top: 90px;
  left: 70px;
  z-index: 2;
  width: 180px;
  height: 250px;
  background-color: #ff6e2d;
  border: #000 8px solid;
  border-radius: 50%/60% 60% 40% 40%;
  transform: rotate(120deg);
}

.handR {
  position: absolute;
  top: -80px;
  left: -180px;
  z-index: 3;
  width: 180px;
  height: 250px;
  background-color: #ff6e2d;
  border: #000 8px solid;
  border-radius: 50%/60% 60% 40% 40%;
  transform: rotate(10deg);
}

.body {
  position: absolute;
  top: 0;
  left: -200px;
  z-index: 4;
  width: 400px;
  height: 400px;
  background-color: #ff6e2d;
  border: #000 8px solid;
  border-radius: 50% 50% 50% 50%/65% 65% 35% 35%;
}

.face1 {
  position: absolute;
  top: 20px;
  left: -130px;
  z-index: 5;
  width: 260px;
  height: 260px;
  background-color: #eedcca;
  border-radius: 50%/45% 45% 55% 55%;
}

.face2 {
  position: absolute;
  top: 100px;
  left: -180px;
  z-index: 6;
  width: 360px;
  height: 230px;
  background-color: #eedcca;
  border-radius: 50%/55% 55% 45% 45%;
}

.cheekL {
  position: absolute;
  top: 155px;
  left: 75px;
  z-index: 7;
  width: 70px;
  height: 40px;
  background-color: #efa278;
  border-radius: 50%;
}

.cheekR {
  position: absolute;
  top: 155px;
  left: -145px;
  z-index: 8;
  width: 70px;
  height: 40px;
  background-color: #efa278;
  border-radius: 50%;
}

.shaft {
  position: absolute;
  top: -550px;
  left: -90px;
  z-index: 17;
  width: 30px;
  height: 400px;
  background-color: #fadd1e;
  border: #000 8px solid;
}

.starBorder {
  position: absolute;
  top: -663px;
  left: -138px;
  z-index: 24;
  width: 126px;
  height: 126px;
  clip-path: polygon(
    50% 0,
    64.695% 29.775%,
    97.555% 34.55%,
    73.775% 57.725%,
    79.39% 90.45%,
    50% 75%,
    20.61% 90.45%,
    26.255% 57.725%,
    2.445% 34.55%,
    35.305% 29.775%
  );
  background-color: #000;
}

.star {
  position: absolute;
  top: -650px;
  left: -125px;
  z-index: 25;
  width: 100px;
  height: 100px;
  clip-path: polygon(
    50% 0,
    64.695% 29.775%,
    97.555% 34.55%,
    73.775% 57.725%,
    79.39% 90.45%,
    50% 75%,
    20.61% 90.45%,
    26.255% 57.725%,
    2.445% 34.55%,
    35.305% 29.775%
  );
  background-color: #fadd1e;
}

/* @keyframes rotate {
  0% {
  }
} */
