.eyeRBase {
  position: relative;
  z-index: 130;
  width: 0;
  height: 0;
  scale: 1.1;
}

.eyeRWrap,
.eyeRWrapAnimation {
  position: absolute;
  top: 50px;
  left: -70px;
  z-index: 130;
  width: 40px;
  height: 100px;
  overflow: hidden;
  border-top: none;
}

.eyeRWrapAnimation {
  animation-name: eye-r-wink;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes eye-r-wink {
  9.99% {
    top: 50px;
    left: -70px;
    width: 40px;
    height: 100px;
    border-top: none;
  }

  10% {
    top: 120px;
    left: -80px;
    width: 60px;
    height: 0;
    border-top: 7px solid #000;
  }

  39.99% {
    top: 120px;
    left: -80px;
    width: 60px;
    height: 0;
    border-top: 7px solid #000;
  }

  40% {
    top: 50px;
    left: -70px;
    width: 40px;
    height: 100px;
    border-top: none;
  }
}

.eyeLight2R {
  position: absolute;
  bottom: 5px;
  left: 5px;
  z-index: 135;
  width: 30px;
  height: 45px;
  background-color: #895142;
  border-radius: 50%;
}

.eyeBackR {
  position: absolute;
  bottom: 30px;
  left: 5px;
  z-index: 140;
  width: 30px;
  height: 65px;
  background-color: #000;
  border-radius: 50%/70% 70% 30% 30%;
}

.eyeLight1R {
  position: absolute;
  bottom: 56px;
  left: 10px;
  z-index: 150;
  width: 20px;
  height: 35px;
  background-color: #fff;
  border-radius: 50%;
}

.eyeLineR {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 160;
  width: 40px;
  height: 100px;
  border: #000 8px solid;
  border-radius: 47%;
}
