.legRShadow {
  position: absolute;
  top: 400px;
  left: -217px;
  z-index: 500;
  width: 200px;
  height: 30px;
  background: linear-gradient(to top, #00f, #0000);
  border-radius: 50%/0 0 100% 100%;
  opacity: 0.1;
  rotate: -2deg;
}
