.handleBase {
  position: absolute;
  top: -100px;
  left: -75px;
}

.handleBox {
  position: absolute;
  right: -25px;
  z-index: 201;
  width: 150px;
  height: 75px;
  animation-name: handle-box-move;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes handle-box-move {
  0% {
    right: auto;
    left: -25px;
  }

  8.32% {
    right: auto;
    left: -25px;
    width: 150px;
  }

  8.33% {
    right: auto;
    left: -25px;
    width: 123px;
  }

  16.66% {
    right: auto;
    left: -25px;
    width: 123px;
  }

  16.67% {
    right: auto;
    left: -25px;
    width: 75px;
  }

  24.99% {
    left: -25px;
    width: 75px;
  }

  25% {
    right: -25px;
    left: auto;
    width: 50px;
  }

  33.32% {
    right: -25px;
    left: auto;
    width: 50px;
  }

  33.33% {
    right: -25px;
    left: auto;
    width: 75px;
  }

  41.66% {
    right: -25px;
    left: auto;
    width: 75px;
  }

  41.67% {
    right: -25px;
    left: auto;
    width: 123px;
  }

  49.99% {
    right: -25px;
    left: auto;
    width: 123px;
  }

  50.00% {
    right: -25px;
    left: auto;
    width: 150px;
  }

  58.32% {
    right: -25px;
    left: auto;
    width: 150px;
  }

  58.33% {
    right: -25px;
    left: auto;
    width: 123px;
  }

  66.66% {
    right: -25px;
    left: auto;
    width: 123px;
  }

  66.67% {
    right: -25px;
    left: auto;
    width: 75px;
  }

  74.99% {
    right: -25px;
    left: auto;
    width: 75px;
  }

  75% {
    right: auto;
    left: -25px;
    width: 50px;
  }

  83.32% {
    right: auto;
    left: -25px;
    width: 50px;
  }

  83.33% {
    right: auto;
    left: -25px;
    width: 75px;
  }

  91.66% {
    right: auto;
    left: -25px;
    width: 75px;
  }

  91.67% {
    right: auto;
    left: -25px;
    width: 123px;
  }

  99.99% {
    right: auto;
    left: -25px;
    width: 123px;
  }

  100% {
    left: -25px;
  }
}

.handleEnd {
  position: absolute;
  top: -25px;
  left: 50px;
  z-index: 180;
  width: 50px;
  height: 50px;
  background-color: #3164ff;
  border: #000 8px solid;
  border-radius: 50%;
  animation-name: handle-end-rotate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes handle-end-rotate {
  0% {
    right: 0;
    left: auto;
  }

  24.99% {
    right: 0;
    left: auto;
  }

  25% {
    right: auto;
    left: 0;
  }

  66.66% {
    right: auto;
    left: 0;
    width: 50px;
    border: #000 8px solid;
    border-radius: 50%;
  }

  66.67% {
    right: auto;
    left: 0;
    width: 25px;
    border-right: none;
    border-radius: 100% 0 0 100%/50% 0 0 50%;
  }

  74.99% {
    right: auto;
    left: 0;
    width: 25px;
    background-color: #3164ff;
    border: #000 8px solid;
    border-right: none;
    border-radius: 100% 0 0 100%/50% 0 0 50%;
  }

  75% {
    right: 0;
    left: auto;
    background-color: #0000;
    border-color: #0000;
  }

  83.32% {
    right: 0;
    left: auto;
    background-color: #0000;
    border-color: #0000;
  }

  83.33% {
    right: 0;
    left: auto;
    width: 25px;
    background-color: #3164ff;
    border: #000 8px solid;
    border-left: none;
    border-radius: 0 100% 100% 0/0 50% 50% 0;
  }

  91.66% {
    right: 0;
    left: auto;
    width: 25px;
    background-color: #3164ff;
    border: #000 8px solid;
    border-left: none;
    border-radius: 0 100% 100% 0/0 50% 50% 0;
  }

  91.67% {
    right: 0;
    left: auto;
    width: 50px;
    border: #000 8px solid;
    border-radius: 50%;
  }

  100% {
    right: 0;
    left: auto;
  }
}

.handleBegin {
  position: absolute;
  top: -80px;
  left: -25px;
  z-index: 190;
  width: 50px;
  height: 90px;
  background-color: #3164ff;
  border: #000 8px solid;
  border-radius: 0 0 50% 50%/0 0 10% 10%;
}

.handleBorder {
  z-index: 200;
  width: 100%;
  height: 100%;
  border: #000 50px solid;
  border-top: none;
  border-radius: 0 0 50% 50%/0 0 100% 100%;
  animation-name: handle-border-rotate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes handle-border-rotate {
  16.66% {
    background-color: #0000;
    border: #000 50px solid;
    border-top: none;
  }

  16.67% {
    background-color: #000;
    border: none;
  }

  41.66% {
    background-color: #000;
    border: none;
  }

  41.67% {
    background-color: #0000;
    border: #000 50px solid;
    border-top: none;
  }

  66.66% {
    background-color: #0000;
    border: #000 50px solid;
    border-top: none;
  }

  66.67% {
    background-color: #000;
    border: none;
  }

  91.66% {
    background-color: #000;
    border: none;
  }

  91.67% {
    background-color: #0000;
    border: #000 50px solid;
    border-top: none;
  }
}

.handleMiddle {
  position: absolute;
  top: 0;
  left: 8px;
  z-index: 210;
  width: calc(100% - 16px);
  height: calc(100% - 8px);
  border: #3164ff 34px solid;
  border-top: none;
  border-radius: 0 0 50% 50%/0 0 100% 100%;
  animation-name: handle-middle-rotate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes handle-middle-rotate {
  16.66% {
    background-color: #0000;
    border: #3164ff 34px solid;
    border-top: none;
  }

  16.67% {
    background-color: #3164ff;
    border: none;
  }

  41.66% {
    background-color: #3164ff;
    border: none;
  }

  41.67% {
    background-color: #0000;
    border: #3164ff 34px solid;
    border-top: none;
  }

  66.66% {
    background-color: #0000;
    border: #3164ff 34px solid;
    border-top: none;
  }

  66.67% {
    background-color: #3164ff;
    border: none;
  }

  91.66% {
    background-color: #3164ff;
    border: none;
  }

  91.67% {
    background-color: #0000;
    border: #3164ff 34px solid;
    border-top: none;
  }
}
